<%#<form accept-charset="UTF-8" action="/users" method="post">

    <fieldset>
    <label for="username">Username:</label>
    <input id ="username" type="text" name=user[username]>
    <label for="email">Email:</label>
    <input id="email" type="text" name="user[email]">
    <label for="password">Password:</label>
    <input id = "password" type="text" name="user[password]">
    </fieldset>
    <button type="submit">Submit</button>
</form>%>
<%=form_tag("/users", method: "post") do %>
    <%= label_tag(:username, "Username:")%>
    <%= text_field_tag(:username)%>
    <%= label_tag(:email, "Email:")%>
    <%= text_field_tag(:email)%>
    <%= label_tag(:password, "Password:")%>
    <%= text_field_tag(:password)%>
    <%= submit_tag("Submit")%>
<% end %>
