<%#<form accept-charset="UTF-8" action="/users" method="post">

    <fieldset>
    <label for="username">Username:</label>
    <input id ="username" type="text" name=user[username]>
    <label for="email">Email:</label>
    <input id="email" type="text" name="user[email]">
    <label for="password">Password:</label>
    <input id = "password" type="text" name="user[password]">
    </fieldset>
    <button type="submit">Submit</button>
</form>%>

<%= form_with model:@user do |form| %>
<%= form.label :username, "Username: "%>
<%= form.text_field :username%>
<%= form.label :email, "email: "%>
<%= form.text_field :email%>
<%= form.label :password, "Password: "%>
<%= form.text_field :password %>
<%= form.submit "Submit" %>
<% end %>